
.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.home__header {
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
    align-items: center;

}

.home__header a {
    margin-right: 20px;
    text-decoration: inherit;
    color: rgb(0, 0, 0, 0.8);
    font-size: 15px;
}

.home__header a:hover {
    text-decoration: underline;
}

.home__header--right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__header--right> .MuiSvgIcon-root{
    margin-right: 20px;
}

.home__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.home__body> img {
    object-fit: contain;
    height: 100px;
}